<div class="posts list-group">
  {{#each posts}}
    <a class="each-post" href="/dashboard/new{{id}}">
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>